@import 'src/css/quasar.variables.scss';

.wrapper--child {
  padding: 32px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $lg) {
    padding-top: 100px;
  }
}

.img--nft-big {
  margin: 0 8px;
  height: auto;
  width: 320px;
  height: 320px;
  border-radius: 16px;
  background: $img-background;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  @media (min-width: $md) {
    width: 400px;
    height: 400px;
  }
}

.buttons {
  display: flex;
  column-gap: 16px;
  margin-bottom: 40px;
  margin-top: 40px;
  @media (min-width: $md) {
    margin-bottom: 60px;
  }
}

.wrapper-nft-introduction {
  margin-bottom: 24px;
  @media (min-width: $md) {
    margin-bottom: 40px;
  }
}

.container--child {
  display: grid;
  justify-items: center;
}

.wrapper--nft-option {
  display: grid;
  row-gap: 24px;
  @media (min-width: $md) {
    width: 100%;
    row-gap: 0px;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 0px 8px;
  }
  @media (min-width: 820px) {
    padding: 0;
  }
  @media (min-width: $lg) {
    grid-template-columns: 380px auto;
    column-gap: 40px;
    justify-self: start;
  }
}

.row--button {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  align-items: center;
}

.column--nft-right {
}

.row--nft-title {
}
