@import 'src/css/quasar.variables.scss';

.container--back {
  width: 100%;
  display: flex;
  column-gap: 6px;
  font-weight: 500;
  margin-bottom: 24px;

  @media (min-width: $md) {
    margin-bottom: 16px;
  }
  @media (min-width: $lg) {
    padding-top: 0;
  }
  &:hover {
    transition: all 0.3s ease 0s;
    color: $astar-blue;
  }
}

.icon--back {
  font-size: 18px;
}
