@import 'src/css/quasar.variables.scss';

.wrapper--mint {
  padding: 32px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: $lg) {
    padding-top: 100px;
  }
}

.wrapper--mint-button {
  display: flex;
  flex-direction: column;
  background: #131c34;
  padding: 36px 16px;
  // margin-left: -16px;
  // margin-right: -16px;
  width: 100vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  // @media (min-width: $md) {
  //   max-width: 380px;
  //   margin-left: 0px;
  //   margin-right: 0px;
  //   border-radius: 16px;
  //   padding: 36px 32px;
  //   max-height: 462px;
  // }
}