@import 'src/css/quasar.variables.scss';

.wrapper--assets {
  position: relative;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $sm) {
    padding-top: 0px;
    height: calc(100vh - 96px);
  }
}

// .container--assets {/
// margin-bottom: 24px;
// display: grid;
// row-gap: 32px;
// @media (min-width: $xxl) {
//   width: 100%;
//   max-width: $container-max-width;
// }
// }
