@import 'src/css/quasar.variables.scss';

.wrapper--assets {
}

.wrapper--hero {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: $sm) {
    padding-top: 80px;
  }

  @media (min-height: 800px) {
    padding-top: 0px;
    height: calc(100vh - 96px);
  }
}

.wrapper--inventory {
  padding-top: 24px;
  @media (min-width: $lg) {
    padding-top: 42px;
  }
}
