@import 'src/css/quasar.variables.scss';

.wrapper--assets {
}

.wrapper--hero {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: -8px;
  @media (min-width: $sm) {
    padding-top: 80px;
  }

  @media (min-height: 900px) and (min-width: $lg) {
    margin-left: -96px;
    padding-top: 100px;
    position: absolute;
    // Memo: 96px: header, 106px: footer
    height: calc(100vh - 96px - 106px);
  }
}

.wrapper--inventory {
  padding-top: 24px;
  @media (min-width: $lg) {
    padding-top: 42px;
  }
}
