@import 'src/css/quasar.variables.scss';

.box--address {
  width: 100%;
  background: hsl(225, 44%, 14%);
  border-radius: 16px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 24px;

  @media (min-width: $sm) {
    width: 376px;
  }

  @media (min-width: $md) {
    width: 452px;
    margin-bottom: 64px;
  }

  @media (min-width: $lg) {
    width: 470px;
    margin-left: 16px;
    padding: 28px 24px;
  }
}

.text--account {
  font-size: 16px;
  font-weight: 600;

  @media (min-width: $md) {
    font-size: 24px;
  }
}

.text--address {
  font-size: 12px;
  font-weight: 600;

  @media (min-width: $md) {
    font-size: 14px;
  }
}

.container--example {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.container--item {
  row-gap: 16px;
  column-gap: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 166px);
  justify-content: space-evenly;

  @media (min-width: $md) {
    column-gap: 32px;
    grid-template-columns: repeat(auto-fill, 256px);
    row-gap: 40px;
  }
  @media (min-width: $lg) {
    justify-content: flex-start;
  }
}

.card--item {
  padding: 16px;
  background: #141c34;
  border-radius: 16px;
  width: 166px;
  height: 280px;
  overflow: auto;

  @media (min-width: $md) {
    width: 256px;
    height: 324px;
  }
}

.row--name {
  display: flex;
  column-gap: 10px;
  margin-bottom: 8px;
}

.text--name {
  font-weight: 600;
  font-size: 14px;
  color: #b1b7c1;
}

.text--description {
  font-weight: 600;
  font-size: 16px;
  color: $gray-1;
}

.item--img {
  width: auto;
  height: 130px;
  @media (min-width: $md) {
    height: 200px;
  }
}

.image-container {
  position: relative;
  margin-bottom: 400px;
}

.image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  z-index: -1;
}
