@import 'src/css/quasar.variables.scss';

.image-container--parent {
  position: relative;
  height: 190px;
  border: 1px solid #081029;
  border-radius: 6px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

@media screen and (min-width: $sm) {
  .image-container--parent {
    height: 180px;
  }
}

@media screen and (min-width: $md) {
  .image-container--parent {
    height: 180px;
  }
}

@media screen and (min-width: $xl) {
  .image-container--parent {
    height: 180px;
  }
}

@media screen and (min-width: $xxl) {
  .image-container--parent {
    height: 240px;
  }
}

.image--parent {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.row--name {
  display: flex;
  column-gap: 10px;
  margin: 16px 0;
}

.text--collection {
  font-weight: 600;
  font-size: 14px;
  color: #b1b7c1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text--description {
  font-weight: 600;
  font-size: 14px;
  color: $gray-1;
}

.row--name-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container--parent {
  cursor: pointer;
  background: #141c34;
  border-radius: 16px;
  padding: 16px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
}
